<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application
    android:allowBackup="true"
    android:largeHeap="true"
    android:icon="@mipmap/appicon"
    android:roundIcon="@mipmap/appicon_round"
    android:supportsRtl="true"
    android:label="HandwerkerImperium"
    android:enableOnBackInvokedCallback="false"
    android:theme="@style/MyTheme.NoActionBar">
    <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID"
               android:value="ca-app-pub-2588160251469436~3907946957" />
    <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="348869160993" />

    <!-- BroadcastReceiver für geplante Benachrichtigungen (AlarmManager) -->
    <receiver android:name=".NotificationReceiver"
              android:enabled="true"
              android:exported="false" />
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="com.android.vending.BILLING" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
</manifest>
