<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application
      android:allowBackup="true"
      android:largeHeap="true"
      android:icon="@mipmap/appicon"
      android:roundIcon="@mipmap/appicon_round"
      android:label="FinanzRechner"
      android:supportsRtl="true"
      android:enableOnBackInvokedCallback="false"
      android:theme="@style/MyTheme.NoActionBar">
    <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID"
               android:value="ca-app-pub-2588160251469436~8528331789" />
    <provider
        android:name="androidx.core.content.FileProvider"
        android:authorities="com.meineapps.finanzrechner.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_paths" />
    </provider>
  </application>
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="com.android.vending.BILLING" />
</manifest>
